
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Edit Infomation </h3>
      {{ form_start(teacherForm) }}
         
      {{ form_widget(teacherForm)}}
      <input class="btn btn-outline-danger" type="submit" value="Edit">

      {{ form_end(teacherForm) }}
   </div>
</div>
{% endblock %}